<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Goo 車訊網</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script src="../js/jquery.js"></script>
<script src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/jquery.jgd.dropdown.min.js"></script>
</head>

<body>
<div class="container">
	<div class="header">
    	<div class="headerwd clearfix">
            <div class="logo"><img src="../imgs/logo/logo_new.png" border="0"></div>
            <div class="login">
                <a href="#" class="btn_login"></a>
                <a href="#" class="btn_fb_login"></a>
            </div>
            <div class="search">
            <div id="select_search" class="clearfix">
                <select id="select" class="search_select">
                    <option selected> 全站搜尋 </option>
                        <option>新車搜尋</option>
                        <option>圖片搜尋</option>
                        <option>影片搜尋</option>
                        <option>試車搜尋</option>
                        <option>改裝搜尋</option>
                </select>
                <input type="text" class="search_txt" value="">
                <input type="button" class="search_input" value="送出">
            </div>
            </div>
        </div>
    </div>
    <div class="container_block clearfix">
    	<div class="cont_left">
        	<ol>
                <li><a href="/"><span class="menu_icon icon_index"></span> <span class="menu_txt txt_index">回首頁</span></a></li>
                <li><a href="/news"><span class="menu_icon icon_new"></span> <span class="menu_txt txt_new">GOO新車</span></a></li>
                <li><a href="/refit"><span class="menu_icon icon_transform"></span> <span class="menu_txt txt_transform">GOO改裝</span></a></li>
                <li><a href="/pic"><span class="menu_icon icon_pic"></span> <span class="menu_txt txt_pic">GOO圖庫</span></a></li>
                <li><a href="/movie"><span class="menu_icon icon_movie"></span> <span class="menu_txt txt_movie">GOO影音</span></a></li>
                <li><a href="#"><span class="menu_icon icon_discuss"></span> <span class="menu_txt txt_discuss">GOO討論</span></a></li>
                <li><a href="/option"><span class="menu_icon icon_play"></span> <span class="menu_txt txt_play">OPTION盃</span></a></li>
            </ol>
            <div class="menu_ad">
       	    	<a href="#"><img src="../imgs/ad/ad1_44.jpg" border="0"></a>
            </div>
        </div>
    	<div class="cont_right">
            <p class="text_title">
            	<a href="#">文字三頭標之1</a>
            	<a href="#">文字三頭標之2</a>
            	<a href="#">文字三頭標之3</a>
            </p>
            <div class="clearfix">
            	<div class="R_left">
                    <div class="compare_block">
                        <div class="title">
                          <h1>車款比較</h1>
                        </div>
                        <div class="content">
                            <div class="compare-box">
                               <div class="tab-list clearfix">
                                    <div class="tab-left">
                                    	<div class="select_com"> 
                                            <div class="select_block clearfix">
                                                <span class="select_txt">選擇廠牌</span>
                                                <div id="select_all" class="clearfix">
                                                    <select id="select1">
                                                        <option selected> BMW </option>
                                                            <option>A</option>
                                                            <option>C</option>
                                                            <option>D</option>
                                                    </select>
                                                </div><!-- select_menu -->
                                            </div>
                                            <div class="select_block clearfix">
                                                <span class="select_txt">選擇車款</span>
                                                <div id="select_all" class="clearfix">
                                                    <select id="select2">
                                                        <option selected> X Series </option>
                                                            <option>A</option>
                                                            <option>C</option>
                                                            <option>D</option>
                                                    </select>
                                                </div><!-- select_menu -->
                                            </div>
                                            <div class="select_block clearfix">
                                                <span class="select_txt">選擇車型</span>
                                                <div id="select_all" class="clearfix">
                                                    <select id="select3">
                                                        <option selected> XS </option>
                                                            <option>A</option>
                                                            <option>C</option>
                                                            <option>D</option>
                                                    </select>
                                                </div><!-- select_menu -->
                                            </div>	
                                    	</div>
                                        <p class="clearfix"><a href="#" class="icon_searchB">加入比較 ></a></p>
                                    </div>
                                    <div class="tab-right">
                                    	<h2 class="comtitle">熱門車款比較</h2>
                                    	<ol class="com_contant">
                                        	<li>Honda Fit VTi-S</li>
                                        	<li>Nissan SENTRA AREO 旗艦版</li>
                                        	<li>BMW 2 Series 218d Active</li>
                                        	<li>Nissan Tiida SL 旗艦5D </li>
                                        </ol>
                                        <p class="clearfix"><a href="#" class="icon_join_search">進行比較 ></a></p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            	<div class="R_right">
                	<div class="R_ad"><img src="../imgs/ad/ad3_32.jpg" border="0"></div>
              </div>
            </div>
            <div class="compare_table">
            	<h3 class="title_name">車款比較</h3>
                <table class="compare_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="td_name">汽車名稱</td>
                    <td>BMW 7 Series 730i</td>
                    <td>Audi A1 Sportback</td>
                    <td>BMW 2 Series 218d Active </td>
                    <td>BMW 2 Series 218d Active </td>
                  </tr>
                  <tr>
                    <td>照片</td>
                    <td><img src="../imgs/cart_type_03.jpg" border="0"></td>
                    <td><img src="../imgs/cart_type_05.jpg" border="0"></td>
                    <td><img src="../imgs/cart_type_07.jpg" border="0"></td>
                    <td><img src="../imgs/cart_type_03.jpg" border="0"></td>
                  </tr>                
                  <tr>
                    <td>建議售價</td>
                    <td>NT$ 370萬</td>
                    <td>NT$ 370萬</td>
                    <td>NT$ 370萬</td>
                    <td>NT$ 370萬</td>
                  </tr>                
                  <tr class="bacolor">
                    <td>車種說明</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>                
                  <tr>
                    <td>車種</td>
                    <td>BMW</td>
                    <td>BMW</td>
                    <td>BMW</td>
                    <td>BMW</td>
                  </tr>                
                  <tr>
                    <td>車門數</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                  </tr>                
                  <tr>
                    <td>座位數</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                    <td>5</td>
                  </tr>                
                  <tr>
                    <td>行李箱容積(L)</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                  </tr>                
                  <tr class="bacolor">
                    <td>車身尺碼</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>                
                  <tr>
                    <td>長/寬/高(mm)</td>
                    <td>5039 / 1902 / 1491</td>
                    <td>5039 / 1902 / 1491</td>
                    <td>5039 / 1902 / 1491</td>
                    <td>5039 / 1902 / 1491</td>
                  </tr>                
                  <tr>
                    <td>軸距(mm)</td>
                    <td>2990</td>
                    <td>2990</td>
                    <td>2990</td>
                    <td>2990</td>
                  </tr>                
                  <tr>
                    <td>車重(kg)</td>
                    <td>1805</td>
                    <td>1805</td>
                    <td>1805</td>
                    <td>1805</td>
                  </tr>                
                  <tr>
                    <td>迴轉半徑(m)</td>
                    <td>6.05</td>
                    <td>6.05</td>
                    <td>6.05</td>
                    <td>6.05</td>
                  </tr>                
                  <tr class="bacolor">
                    <td>引擎系統</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>                
                  <tr>
                    <td>燃料種類</td>
                    <td>汽油車</td>
                    <td>汽油車</td>
                    <td>汽油車</td>
                    <td>汽油車</td>
                  </tr>                
                  <tr>
                    <td>汽缸排列</td>
                    <td>直列式</td>
                    <td>直列式</td>
                    <td>直列式</td>
                    <td>直列式</td>
                  </tr>                
                  <tr>
                    <td>汽缸頭</td>
                    <td>6 缸</td>
                    <td>6 缸</td>
                    <td>6 缸</td>
                    <td>6 缸</td>
                  </tr>                
                  <tr>
                    <td>氣門數</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                  </tr>                
                  <tr>
                    <td>排氣量(c.c.)</td>
                    <td>2996</td>
                    <td>2996</td>
                    <td>2996</td>
                    <td>2996</td>
                  </tr>                
                  <tr>
                    <td>壓縮比</td>
                    <td>10.7</td>
                    <td>10.7</td>
                    <td>10.7</td>
                    <td>10.7</td>
                  </tr>                
                  <tr>
                    <td>進氣方式</td>
                    <td>自然進氣</td>
                    <td>自然進氣</td>
                    <td>自然進氣</td>
                    <td>自然進氣</td>
                  </tr>                
                  <tr>
                    <td>最大馬力(hp/rpm)</td>
                    <td>258 / 6600</td>
                    <td>258 / 6600</td>
                    <td>258 / 6600</td>
                    <td>258 / 6600</td>
                  </tr>                
                  <tr>
                    <td>最大扭力(kg-m/rpm)</td>
                    <td>30.6 / 2500</td>
                    <td>30.6 / 2500</td>
                    <td>30.6 / 2500</td>
                    <td>30.6 / 2500</td>
                  </tr>                
            	</table>
            </div>
            <div class="R_ad icon_share">
                <a href="#"><img src="../imgs/fb_icon_123.png" border="0"></a>
                <a href="#"><img src="../imgs/g_icon_123_125.png" border="0"></a>
                <a href="#"><img src="../imgs/3_icon_127.png" border="0"></a>
                <a href="#"><img src="../imgs/carma_icon_129.png" border="0"></a>
                <a href="#"><img src="../imgs/in_icon_131.png" border="0"></a>
                <a href="#"><img src="../imgs/wifi_icon_133.png" border="0"></a>
            </div>
            <div class="footer">
                © Copyright 2015 - www.carnews.com - All rights reserved
                <br>台灣寶路多股份有限公司所有資料未經許可不得轉載  
            </div>
        </div>
    </div>
    
</div>

</body>
</html>
