<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Goo 車訊網</title>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script src="../js/jquery.js"></script>
<script src="../js/superfish.js"></script>
<script type="text/javascript" src="../js/jquery.jgd.dropdown.min.js"></script>
</head>

<body>
<div class="light_box">
</div>
<div class="light_block">
    <div class="clearfix">
        <div class="float_left bigpic_block">
        	<div class="box_img">
            	<img class="box_img_big" src="../imgs/pic/pic1_03.jpg" border="0">
            	<span class="box_icon"><img src="../imgs/back_06.png" border="0"></span>
            	<span class="box_icon_next"><img src="../imgs/next_08.png" border="0"></span>
            </div>
            <h1>BMW.com : BMW Design : Design visions</h1>
            <p>Audi Avant RS 2當年是頂級豪華車壇上，首款以五門Wagon車型為基礎所開發出的高性能運動旅行車，結合當時風靡市場的Audi 80 Avant旅行車，
極富生活樂趣的休旅機能和適中的車身尺寸，搭載了Audi最負盛名的一代名機2.2升20V直列五缸汽油引擎，在渦輪增壓系統、6速手排變速箱和
quattro四輪驅動底盤的加持下，創造出令人驚豔不已的315hp狂暴動力，其0~100km/h加速更僅需4.8秒！</p>
      	</div>
    	<div class="float_left inftpic_block">
            <a href="/pic" class="btn_close"></a>
            <div class="R_ad"><img class="ad_box_img" src="../imgs/ad/ad3_32.jpg" border="0"></div>
            <div class="R_block">
                <div class="title">
                    <p>相關圖檔</p>
                </div>
                <div class="content">
                    <ol class="picture_other clearfix">
                        <li><img src="../imgs/ad/news_15.jpg" border="0"></li>
                        <li><img src="../imgs/ad/news_17.jpg" border="0"></li>
                        <li><img src="../imgs/ad/news_15.jpg" border="0"></li>
                        <li><img src="../imgs/ad/news_21.jpg" border="0"></li>
                        <li><img src="../imgs/ad/news_32.jpg" border="0"></li>
                        <li><img src="../imgs/ad/news_30.jpg" border="0"></li>
                        <li><img src="../imgs/ad/news_31.jpg" border="0"></li>
                        <li><img src="../imgs/ad/news_28.jpg" border="0"></li>
                    </ol>
                </div>
            </div> 
            <div class="R_ad">

              <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E8%25BB%258A%25E8%25A8%258A%25E7%25B6%25B2%2F130975221547&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:290px;" allowTransparency="true"></iframe>                    
            </div>  
        </div>
  </div>
</div>

</body>
</html>
